* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Navbar Start */
.newnavbar .navbar {
    padding: 10px;
    height: 80px;
}

body {
    overflow-x: hidden;
}

.newnavbar .nav-item a {
    color: pink;
    padding: 5px 5px;
    border-radius: 3px;
    margin: 5px 5px;
}

.newnavbar .nav-item a:hover {
    background-color: pink;
    color: rgba(138, 15, 62, 0.959);
    transform: scale(0.9);
    transition: all 1s ease;
}

.a {
    color: pink;
    padding: 5px 5px;
    border-radius: 3px;
    margin: 5px 12px;
}

.a:hover {
    background-color: pink;
    color: rgba(138, 15, 62, 0.959);
    transform: scale(0.9);
    transition: all 1s ease;
}

.modalbutton {
    background-color: rgba(255, 166, 0, 0);
    padding: 5px 9px;
}


.modalbutton:hover {
    color: white;
    background-color: pink;
    box-shadow: 0 0 20px pink;
    transition: all 1s ease;
}

.nav-link {
    color: rgb(0, 0, 0);
}

/* Navbar End */

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.644)), url(../images/banner.jpg);
    background-size: cover;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-family: arial black;
    font-size: 50px;
    text-shadow: 3px 3px gray;
    top: 30%;
}

.header p {
    top: 47%;
    font-size: 25px;
}

.header a {
    top: 55%;
    font-size: 15px;
    border: 3px solid white;
    padding: 8px 30px;
}

.header a:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.644);
    color: rgba(138, 15, 62, 0.959);
    border: 3px solid rgba(138, 15, 62, 0.959);
    transition: all 1s ease;
    transform: scale(1.2);
}

.about2 {
    height: 100%;
    padding: 20px;
    background-color: rgba(136, 135, 135, 0);
}

.about2 h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-left: 30px;
    font-family: arial;
    text-shadow: 3px 3px gray;
}

.about2 p {
    margin-left: 25px;
}

.about2 a {
    box-shadow: 0 0 20px rgba(136, 11, 63, 0.438);
    padding: 10px 20px;
    margin-top: 30px;
    margin-left: 25px;

}

.about2 img {
    width: 520px;
    height: 300px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 20px gray;
}

.question {
    height: 240px;
    background: linear-gradient(rgb(253, 93, 0), rgba(0, 0, 0, 0.534)), url(../images/banner2.jpg);
}

.question a {
    border: 3px solid orange;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 94, 0);
    padding: 10px 40px;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 0 20px rgb(240, 132, 8);
    margin-top: 95px;
    position: absolute;
}

.question a:hover {
    box-shadow: 0 0 30px orangered;
    background-color: rgb(255, 115, 0);
    transform: scale(1.1);
    color: white;
    transition: 1s ease;
}

.question h1 {
    color: white;
    font-family: arial black;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 40px;
}

.question p {
    color: white;
    margin-left: 20px;
}

/* Footer Start */
footer {
    padding: 10px;
    border-top: 40px solid pink;
}

footer a {
    color: white;
    padding: 10px;
}

.logos a {
    padding: 10px 20px;
    margin: 5px;
}

footer a:hover {
    color: pink;
}

.logos a:hover {
    color: black;
    background-color: pink;
    box-shadow: 0 0 30px pink;
    transition: 1s ease;
}

.search {
    padding: 10px 20px;
    margin: 5px;
}

footer input {
    padding: 4px 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0.781);
    box-shadow: 0 0 20px pink;
}

.search:hover {
    color: black;
    background-color: pink;
    box-shadow: 0 0 30px pink;
    transition: 1s ease;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.692)), url(../images/banner.jpg);
    height: 350px;
    background-size: cover;
}

.banner h1 {
    font-size: 50px;
    left: 30%;
    margin-top: 50px;
    font-family: arial black;
    text-shadow: 2px 2px gray;
}

.banner h3 {
    font-size: 20px;
    left: 37%;
    margin-top: 120px;
}

.banner a {
    box-shadow: 0 0 30px pink;
    padding: 10px 50px;
    left: 44%;
    margin-top: 190px;
}

.banner a:hover {
    color: white;
    background-color: pink;
    box-shadow: 0 0 30px pink;
    transition: 1s ease;
}
/* Footer End */